.about {
  margin: 2rem auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  max-width: 768px;
}

.about h1,
h2 {
  margin-bottom: 0.5rem;
  color: var(--blue-dark);
}

.about p {
  margin-bottom: 1.5rem;
}

.about img {
  width: 250px;
  border: 1px solid var(--blue-dark);
  border-radius: 50%;
  display: block;
  margin: 0 auto 0.5rem auto;
}

.about a {
  color: var(--blue-dark);
}

.about a:hover {
  color: var(--blue-light);
}
