.item {
  margin: 2rem auto;
}

.item h1 {
  color: var(--blue-dark);
  text-transform: capitalize;
}

.item-title {
  width: 100%;
}

.item-title img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.item-data-wrapper {
  padding: 0rem 1rem 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
