.pokemon {
  margin: 2rem auto;
  font-size: calc(10px + 2vmin);
  padding: 0rem 1rem 5rem 1rem;
  max-width: 1000px;
}

.pokemon h1 {
  color: var(--blue-dark);
  text-transform: capitalize;
}

.pokemon p {
  text-transform: capitalize;
}

.pokemon h2 {
  margin-bottom: 0.3rem;
}

.name-wrapper {
  width: 100%;
}

.name-wrapper img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.pkmn-data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .pokemon h1 {
    text-align: center;
  }
  .pkmn-data-wrapper {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
  }
  .name-wrapper img {
    width: 300px;
  }

  .moves-wrapper {
    width: fit-content;
    margin: 0 auto;
  }
}
