@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

:root {
  --blue-dark: #2769be;
  --blue-light: #61dafb;
  --gray: #404040;
  --trans: all 250ms ease-in-out;
}

.link,
a {
  text-decoration: none;
  transition: var(--trans);
}

.grid-container {
  max-width: 1220px;
}

.loading,
.not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.not-found h2 {
  text-align: center;
}

.not-found .menu-box {
  width: 50%;
}

.about {
  margin: 2rem auto;
  padding: 0 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  max-width: 768px;
}

.about h1 {
  margin-bottom: 0.5rem;
  color: var(--blue-dark);
}

.about p {
  margin-bottom: 1.5rem;
}

.about img {
  width: 250px;
  border: 1px solid var(--blue-dark);
  border-radius: 50%;
  display: block;
  margin: 0 auto 0.5rem auto;
}

.about a {
  color: var(--blue-dark);
}

.about a:hover {
  color: var(--blue-light);
}

.app-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu-box {
  background: var(--gray);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
}

.app-link {
  color: white;
}

.app-link:hover {
  color: var(--blue-light);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.item {
  margin: 2rem auto;
  font-size: calc(10px + 2vmin);
  padding: 0rem 1rem 5rem 1rem;
  max-width: 768px;
}

.item h1 {
  color: var(--blue-dark);
  text-transform: capitalize;
}

.item-title {
  width: 100%;
}

.item-title img {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.item-data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

@media (min-width: 768px) {
  .item h1 {
    text-align: center;
  }
}

.items {
  margin: 2rem auto;
}
.items h1 {
  text-align: center;
}

.items-container {
  margin-top: 1rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 3rem 0.75rem;
}

.items-box {
  width: auto;
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  text-align: center;
}

.items-name {
  color: var(--blue-dark);
  font-weight: 600;
  text-transform: capitalize;
}

.pokedex {
  margin: 2rem auto auto auto;
}

.pokedex h1 {
  text-align: center;
}

.pokedex-container {
  margin-top: 1rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 2rem 0.75rem;
}

.pokedex-box {
  width: auto;
  display: inline-block;
  line-height: 1.25;
  text-align: center;
}

.pkmn-num {
  color: #a3a3a3;
}

.pkmn-name {
  color: var(--blue-dark);
  font-weight: 600;
  text-transform: capitalize;
}

header {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

header input {
  border: 2px solid var(--blue-dark);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

header input:focus {
  border: 2px solid var(--blue-light);
  outline: 1px solid var(--blue-light);
}

.pokemon {
  margin: 2rem auto;
  font-size: calc(10px + 2vmin);
  padding: 0rem 1rem 5rem 1rem;
  max-width: 1000px;
}

.pokemon h1 {
  color: var(--blue-dark);
  text-transform: capitalize;
}

.pokemon p {
  text-transform: capitalize;
}

.pokemon h2 {
  margin-bottom: 0.3rem;
}

.name-wrapper {
  width: 100%;
}

.name-wrapper img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

.pkmn-data-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.25rem;
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .pokemon h1 {
    text-align: center;
  }
  .pkmn-data-wrapper {
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
  }
  .name-wrapper img {
    width: 300px;
  }

  .moves-wrapper {
    width: fit-content;
    margin: 0 auto;
  }
}
